<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
    <title>{% block title %} Book Store Index {% endblock %}</title>
  </head>

  <body>
    {% include 'main/header.html' %}
    <!-- Main content -->
    {% block main-content %} {% endblock %}
    <!-- Footer -->
    {% include 'main/footer.html' %}
    <script
      src="https://cdn.tailwindcss.com/2.2.19/tailwind.min.js"
      integrity="sha384-6k+0Qo8yE4VY/mVjQKzcbtTSe3o+/Fq1xBLqKB1iaHfufp3hv2QkFQ6fF6IEIa1w"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
